.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 980px;
    background: #2e4562;
}
.info {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  color: #808080;
}
.logo {
  padding-right: 50px;
}
.search {
  padding-left: 50px;
}
.article {
   padding-top: 100px;
   padding-left: 50px;

  color: #ffffff;
}
.img {
  display: flex;
  justify-content: flex-end;
}

